@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.landing-div{
    background-image: url(backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 630px;
    align-items: center;
}
.landing-div .hidden-image{
    visibility: hidden;
}
.landing-div img{
    position: absolute;
}
.landing-div p{
    text-align: center;
    margin: 16%;
    font-size: 1.5em;
    color: #fff;
}
.landing-div p strong{
    font-weight: bolder;
}
svg{
    cursor: pointer;
    width: 400px;
    height: 60px;
    margin-left: 0%;
    margin-top: 5%;
    position: relative;
    color: white;
}

section p{
    text-align: center;
    font-size: 1.4em;
}